.bg-image-sm img {
    width: 80px !important;
    height: 50px !important;
    border-radius: 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.774);
    object-fit: cover;
    object-position: center;
}

.character-image-sm img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.774);
    object-fit: cover;
    object-position: center;
}

table.dataTable {
    width: 98% !important;
}

table.dataTable td,
table.dataTable th {
    white-space: normal;
}

.page-item.active .page-link {
    background-image: -moz-linear-gradient(0deg, #3c408f 0%, #5b61cf 100%) !important;
    background-image: -webkit-linear-gradient(0deg, #3c408f 0%, #5b61cf 100%) !important;
    background-image: -ms-linear-gradient(0deg, #3c408f 0%, #5b61cf 100%) !important;
}
